#app {
  margin: 0 auto;
}

body {
  display: flex;
  place-items: center;
}

button {
  display: inline-block;
  border-radius: 3px;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  width: 11rem;
  background: transparent;
  color: white;
  border: 2px solid white;
}

button:hover {
  background-color: white;
  color: black;
}

button:active {
  background-color: #bbb;
  color: white;
}

button:focus {
  outline: none;
}
