#app {
  margin: 0 auto;
}

.content{
  margin-top: 10%;
}

header{
  height: 100%;
}
body {
  display: flex;
  place-items: center;
  background-color: rgb(47, 47, 47);
}

button {
  display: inline-block;
  border-radius: 3px;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  width: 11rem;
  background: transparent;
  color: white;
  border: 2px solid white;
}

button:hover {
  background-color: white;
  color: black;
}

button:active {
  background-color: #bbb;
  color: white;
}

button:focus {
  outline: none;
}

.grid {
  display: table;
  border-spacing: 5px
}

.row {
  display: table-row
}

.cell {
  width: 150px;
  height: 150px;
  display: table-cell;
  background-color: white;
}

.endText{
  font-size: 30px;
  text-align: center;
}

.cellText{
  font-size: 40px;
  font-family: sans-serif;
  color: black;
  text-align: center;
  margin: 50px;
}

p {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

@media (max-width: 1064px) {
  .cell {
    width: 75px;
    height: 75px;
  }
  .cellText{
    font-size: 20px;
    margin: 25px;
  }
}